* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #67ee67;
}
    .navegacao {
        background-color: #27dc12;
    }

    .secao {
        background-color: #11de67;
    }