* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #67ee67;
    color: #aaa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .navegacao {
        background-color: #27dc12;
    }

    .secao {
        background-color: #11de64;
    }
    .rodape {
        background-color: #14ad34;
    }